In [1]:
import pandas as pd
df=pd.read_csv("aapl_no_dates.csv")
df

     close    volume    open      high       low
0   142.19  91106840  143.98  145.7200  142.0000
1   157.92  35637070  154.89  158.8500  154.2300
2   157.74  34499390  158.53  159.3600  156.4800
3   156.23  41740600  157.50  158.5200  154.5500
4   156.15  51608850  155.84  156.7700  150.0700
5   157.17  58133850  148.30  157.2300  146.7200
6   146.83  37169230  148.15  151.5500  146.5900
7   150.73  95497900  156.86  158.1600  149.6300
8   156.83  64398230  160.40  162.1100  155.3000
9   160.89  47597670  166.00  167.4500  159.0900
10  166.07  33753490  165.38  167.5300  164.3900
11  163.94  43250420  165.45  168.3500  162.7300
12  165.48  40620360  169.00  169.0800  165.2800
13  170.95  31754210  170.49  172.5700  169.5500
14  169.10  35474680  170.40  171.9200  169.0200
15  168.63  45968040  171.66  171.7900  167.0000
16  169.60  61759000  165.00  170.0900  163.3300
17  168.49  41678680  173.49  174.4900  168.3000
18  174.72  42704910  171.76  174.7800  170.4200
19  176.69  41141250  180.95  182.3899  176.2700
20  184.82  40537700  184.46  184.9400  181.2100
21  178.58  39424260  180.29  180.3300  177.0300
22  179.55  41523580  182.66  182.8000  177.7000
23  180.94  45941750  176.73  181.2900  174.9300
24  174.24  41156140  171.51  174.7700  170.8800
25  174.62  44662320  174.24  174.9500  170.2600
26  172.29  23623970  174.94  176.5950  172.1000
27  176.78  31096240  179.73  180.2700  176.5500
28  176.98  67678680  178.37  181.4700  175.5100
29  185.86  41626820  190.00  190.7000  184.9900
..     ...       ...     ...       ...       ...
33  192.23  46725710  191.63  197.1800  191.4501
34  194.17  50991030  199.00  199.8500  193.7900
35  204.47  34317760  205.55  206.0100  202.2500
36  208.49  25289270  209.98  210.1200  206.7500
37  209.95  33291640  205.97  210.0600  204.1300
38  203.77  31774720  201.92  204.7200  201.6900
39  201.59  66072170  204.30  204.3900  198.1700
40  207.48  91046560  209.55  213.6500  205.4300
41  222.22  52954070  219.05  222.3600  216.8100
42  218.86  38016810  216.88  220.4500  216.6200
43  213.30  36487930  211.15  215.1800  209.2700
44  212.24  45713690  219.19  219.6900  206.0900
45  216.30  47191700  215.90  220.1900  212.6700
46  219.80  29027340  217.71  221.3800  216.7500
47  215.09  39992120  222.60  224.2300  214.5400
48  222.73  38681170  215.83  223.2500  214.7000
49  220.65  28751540  219.79  223.3600  218.9400
50  219.31  32874330  218.06  221.2600  217.4300
51  216.02  32389280  217.86  219.7400  213.0000
52  221.19  22692880  222.30  222.6400  219.3400
53  222.15  28802550  218.93  222.9900  216.7627
54  217.36  30280450  221.16  221.8300  217.2700
55  222.11  39494770  220.42  222.8800  216.8400
56  214.45  52902320  214.52  219.5000  212.3200
57  216.36  41084070  225.46  226.3500  216.0500
58  226.87  26656630  223.64  227.2700  222.2462
59  223.77  28784550  222.21  224.8000  220.2000
60  224.29  33507770  227.96  228.4100  220.5800
61  227.99  31961120  230.78  232.3500  226.7300
62  232.07  28540490  230.05  233.4700  229.7800

[63 rows x 5 columns]

In [6]:
rng=pd.date_range(start="1/1/2018",end="3/28/2018",freq="B")
rng

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-22',
               '2018-01-23', '2018-01-24', '2018-01-25', '2018-01-26',
               '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01',
               '2018-02-02', '2018-02-05', '2018-02-06', '2018-02-07',
               '2018-02-08', '2018-02-09', '2018-02-12', '2018-02-13',
               '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-19',
               '2018-02-20', '2018-02-21', '2018-02-22', '2018-02-23',
               '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-05', '2018-03-06', '2018-03-07',
               '2018-03-08', '2018-03-09', '2018-03-12', '2018-03-13',
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-19',
               '2018-03-20', '2018-03-21', '2018-03-22', '2018-03-23',
               '2018-03-26', '2018-03-27', '2018-03-28'],
              dtype='datetime64[ns]', freq='B')

In [8]:
df.set_index(rng,inplace=True)
df

             close    volume    open      high       low
2018-01-01  142.19  91106840  143.98  145.7200  142.0000
2018-01-02  157.92  35637070  154.89  158.8500  154.2300
2018-01-03  157.74  34499390  158.53  159.3600  156.4800
2018-01-04  156.23  41740600  157.50  158.5200  154.5500
2018-01-05  156.15  51608850  155.84  156.7700  150.0700
2018-01-08  157.17  58133850  148.30  157.2300  146.7200
2018-01-09  146.83  37169230  148.15  151.5500  146.5900
2018-01-10  150.73  95497900  156.86  158.1600  149.6300
2018-01-11  156.83  64398230  160.40  162.1100  155.3000
2018-01-12  160.89  47597670  166.00  167.4500  159.0900
2018-01-15  166.07  33753490  165.38  167.5300  164.3900
2018-01-16  163.94  43250420  165.45  168.3500  162.7300
2018-01-17  165.48  40620360  169.00  169.0800  165.2800
2018-01-18  170.95  31754210  170.49  172.5700  169.5500
2018-01-19  169.10  35474680  170.40  171.9200  169.0200
2018-01-22  168.63  45968040  171.66  171.7900  167.0000
2018-01-23  169.60  61759000  165.00  170.0900  163.3300
2018-01-24  168.49  41678680  173.49  174.4900  168.3000
2018-01-25  174.72  42704910  171.76  174.7800  170.4200
2018-01-26  176.69  41141250  180.95  182.3899  176.2700
2018-01-29  184.82  40537700  184.46  184.9400  181.2100
2018-01-30  178.58  39424260  180.29  180.3300  177.0300
2018-01-31  179.55  41523580  182.66  182.8000  177.7000
2018-02-01  180.94  45941750  176.73  181.2900  174.9300
2018-02-02  174.24  41156140  171.51  174.7700  170.8800
2018-02-05  174.62  44662320  174.24  174.9500  170.2600
2018-02-06  172.29  23623970  174.94  176.5950  172.1000
2018-02-07  176.78  31096240  179.73  180.2700  176.5500
2018-02-08  176.98  67678680  178.37  181.4700  175.5100
2018-02-09  185.86  41626820  190.00  190.7000  184.9900
...            ...       ...     ...       ...       ...
2018-02-15  192.23  46725710  191.63  197.1800  191.4501
2018-02-16  194.17  50991030  199.00  199.8500  193.7900
2018-02-19  204.47  34317760  205.55  206.0100  202.2500
2018-02-20  208.49  25289270  209.98  210.1200  206.7500
2018-02-21  209.95  33291640  205.97  210.0600  204.1300
2018-02-22  203.77  31774720  201.92  204.7200  201.6900
2018-02-23  201.59  66072170  204.30  204.3900  198.1700
2018-02-26  207.48  91046560  209.55  213.6500  205.4300
2018-02-27  222.22  52954070  219.05  222.3600  216.8100
2018-02-28  218.86  38016810  216.88  220.4500  216.6200
2018-03-01  213.30  36487930  211.15  215.1800  209.2700
2018-03-02  212.24  45713690  219.19  219.6900  206.0900
2018-03-05  216.30  47191700  215.90  220.1900  212.6700
2018-03-06  219.80  29027340  217.71  221.3800  216.7500
2018-03-07  215.09  39992120  222.60  224.2300  214.5400
2018-03-08  222.73  38681170  215.83  223.2500  214.7000
2018-03-09  220.65  28751540  219.79  223.3600  218.9400
2018-03-12  219.31  32874330  218.06  221.2600  217.4300
2018-03-13  216.02  32389280  217.86  219.7400  213.0000
2018-03-14  221.19  22692880  222.30  222.6400  219.3400
2018-03-15  222.15  28802550  218.93  222.9900  216.7627
2018-03-16  217.36  30280450  221.16  221.8300  217.2700
2018-03-19  222.11  39494770  220.42  222.8800  216.8400
2018-03-20  214.45  52902320  214.52  219.5000  212.3200
2018-03-21  216.36  41084070  225.46  226.3500  216.0500
2018-03-22  226.87  26656630  223.64  227.2700  222.2462
2018-03-23  223.77  28784550  222.21  224.8000  220.2000
2018-03-26  224.29  33507770  227.96  228.4100  220.5800
2018-03-27  227.99  31961120  230.78  232.3500  226.7300
2018-03-28  232.07  28540490  230.05  233.4700  229.7800

[63 rows x 5 columns]

In [9]:
df.asfreq('D',method='pad')

             close    volume    open      high       low
2018-01-01  142.19  91106840  143.98  145.7200  142.0000
2018-01-02  157.92  35637070  154.89  158.8500  154.2300
2018-01-03  157.74  34499390  158.53  159.3600  156.4800
2018-01-04  156.23  41740600  157.50  158.5200  154.5500
2018-01-05  156.15  51608850  155.84  156.7700  150.0700
2018-01-06  156.15  51608850  155.84  156.7700  150.0700
2018-01-07  156.15  51608850  155.84  156.7700  150.0700
2018-01-08  157.17  58133850  148.30  157.2300  146.7200
2018-01-09  146.83  37169230  148.15  151.5500  146.5900
2018-01-10  150.73  95497900  156.86  158.1600  149.6300
2018-01-11  156.83  64398230  160.40  162.1100  155.3000
2018-01-12  160.89  47597670  166.00  167.4500  159.0900
2018-01-13  160.89  47597670  166.00  167.4500  159.0900
2018-01-14  160.89  47597670  166.00  167.4500  159.0900
2018-01-15  166.07  33753490  165.38  167.5300  164.3900
2018-01-16  163.94  43250420  165.45  168.3500  162.7300
2018-01-17  165.48  40620360  169.00  169.0800  165.2800
2018-01-18  170.95  31754210  170.49  172.5700  169.5500
2018-01-19  169.10  35474680  170.40  171.9200  169.0200
2018-01-20  169.10  35474680  170.40  171.9200  169.0200
2018-01-21  169.10  35474680  170.40  171.9200  169.0200
2018-01-22  168.63  45968040  171.66  171.7900  167.0000
2018-01-23  169.60  61759000  165.00  170.0900  163.3300
2018-01-24  168.49  41678680  173.49  174.4900  168.3000
2018-01-25  174.72  42704910  171.76  174.7800  170.4200
2018-01-26  176.69  41141250  180.95  182.3899  176.2700
2018-01-27  176.69  41141250  180.95  182.3899  176.2700
2018-01-28  176.69  41141250  180.95  182.3899  176.2700
2018-01-29  184.82  40537700  184.46  184.9400  181.2100
2018-01-30  178.58  39424260  180.29  180.3300  177.0300
...            ...       ...     ...       ...       ...
2018-02-27  222.22  52954070  219.05  222.3600  216.8100
2018-02-28  218.86  38016810  216.88  220.4500  216.6200
2018-03-01  213.30  36487930  211.15  215.1800  209.2700
2018-03-02  212.24  45713690  219.19  219.6900  206.0900
2018-03-03  212.24  45713690  219.19  219.6900  206.0900
2018-03-04  212.24  45713690  219.19  219.6900  206.0900
2018-03-05  216.30  47191700  215.90  220.1900  212.6700
2018-03-06  219.80  29027340  217.71  221.3800  216.7500
2018-03-07  215.09  39992120  222.60  224.2300  214.5400
2018-03-08  222.73  38681170  215.83  223.2500  214.7000
2018-03-09  220.65  28751540  219.79  223.3600  218.9400
2018-03-10  220.65  28751540  219.79  223.3600  218.9400
2018-03-11  220.65  28751540  219.79  223.3600  218.9400
2018-03-12  219.31  32874330  218.06  221.2600  217.4300
2018-03-13  216.02  32389280  217.86  219.7400  213.0000
2018-03-14  221.19  22692880  222.30  222.6400  219.3400
2018-03-15  222.15  28802550  218.93  222.9900  216.7627
2018-03-16  217.36  30280450  221.16  221.8300  217.2700
2018-03-17  217.36  30280450  221.16  221.8300  217.2700
2018-03-18  217.36  30280450  221.16  221.8300  217.2700
2018-03-19  222.11  39494770  220.42  222.8800  216.8400
2018-03-20  214.45  52902320  214.52  219.5000  212.3200
2018-03-21  216.36  41084070  225.46  226.3500  216.0500
2018-03-22  226.87  26656630  223.64  227.2700  222.2462
2018-03-23  223.77  28784550  222.21  224.8000  220.2000
2018-03-24  223.77  28784550  222.21  224.8000  220.2000
2018-03-25  223.77  28784550  222.21  224.8000  220.2000
2018-03-26  224.29  33507770  227.96  228.4100  220.5800
2018-03-27  227.99  31961120  230.78  232.3500  226.7300
2018-03-28  232.07  28540490  230.05  233.4700  229.7800

[87 rows x 5 columns]

In [10]:
df.asfreq('W',method='pad')

             close    volume    open      high     low
2018-01-07  156.15  51608850  155.84  156.7700  150.07
2018-01-14  160.89  47597670  166.00  167.4500  159.09
2018-01-21  169.10  35474680  170.40  171.9200  169.02
2018-01-28  176.69  41141250  180.95  182.3899  176.27
2018-02-04  174.24  41156140  171.51  174.7700  170.88
2018-02-11  185.86  41626820  190.00  190.7000  184.99
2018-02-18  194.17  50991030  199.00  199.8500  193.79
2018-02-25  201.59  66072170  204.30  204.3900  198.17
2018-03-04  212.24  45713690  219.19  219.6900  206.09
2018-03-11  220.65  28751540  219.79  223.3600  218.94
2018-03-18  217.36  30280450  221.16  221.8300  217.27
2018-03-25  223.77  28784550  222.21  224.8000  220.20

In [11]:
df.asfreq('H',method='pad')

                      close    volume    open    high     low
2018-01-01 00:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 01:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 02:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 03:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 04:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 05:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 06:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 07:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 08:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 09:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 10:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 11:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 12:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 13:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 14:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 15:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 16:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 17:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 18:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 19:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 20:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 21:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 22:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-01 23:00:00  142.19  91106840  143.98  145.72  142.00
2018-01-02 00:00:00  157.92  35637070  154.89  158.85  154.23
2018-01-02 01:00:00  157.92  35637070  154.89  158.85  154.23
2018-01-02 02:00:00  157.92  35637070  154.89  158.85  154.23
2018-01-02 03:00:00  157.92  35637070  154.89  158.85  154.23
2018-01-02 04:00:00  157.92  35637070  154.89  158.85  154.23
2018-01-02 05:00:00  157.92  35637070  154.89  158.85  154.23
...                     ...       ...     ...     ...     ...
2018-03-26 19:00:00  224.29  33507770  227.96  228.41  220.58
2018-03-26 20:00:00  224.29  33507770  227.96  228.41  220.58
2018-03-26 21:00:00  224.29  33507770  227.96  228.41  220.58
2018-03-26 22:00:00  224.29  33507770  227.96  228.41  220.58
2018-03-26 23:00:00  224.29  33507770  227.96  228.41  220.58
2018-03-27 00:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 01:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 02:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 03:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 04:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 05:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 06:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 07:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 08:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 09:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 10:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 11:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 12:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 13:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 14:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 15:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 16:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 17:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 18:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 19:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 20:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 21:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 22:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-27 23:00:00  227.99  31961120  230.78  232.35  226.73
2018-03-28 00:00:00  232.07  28540490  230.05  233.47  229.78

[2065 rows x 5 columns]

In [13]:
rng=pd.date_range(start='1/1/2018',periods=63,freq='B')
rng

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12', '2018-01-15', '2018-01-16',
               '2018-01-17', '2018-01-18', '2018-01-19', '2018-01-22',
               '2018-01-23', '2018-01-24', '2018-01-25', '2018-01-26',
               '2018-01-29', '2018-01-30', '2018-01-31', '2018-02-01',
               '2018-02-02', '2018-02-05', '2018-02-06', '2018-02-07',
               '2018-02-08', '2018-02-09', '2018-02-12', '2018-02-13',
               '2018-02-14', '2018-02-15', '2018-02-16', '2018-02-19',
               '2018-02-20', '2018-02-21', '2018-02-22', '2018-02-23',
               '2018-02-26', '2018-02-27', '2018-02-28', '2018-03-01',
               '2018-03-02', '2018-03-05', '2018-03-06', '2018-03-07',
               '2018-03-08', '2018-03-09', '2018-03-12', '2018-03-13',
               '2018-03-14', '2018-03-15', '2018-03-16', '2018-03-19',
               '2018-03-20', '2018-03-21', '2018-03-22', '2018-03-23',
               '2018-03-26', '2018-03-27', '2018-03-28'],
              dtype='datetime64[ns]', freq='B')

In [14]:
rng=pd.date_range(start='1/1/2018',periods=63,freq='H')
rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               '2018-01-01 10:00:00', '2018-01-01 11:00:00',
               '2018-01-01 12:00:00', '2018-01-01 13:00:00',
               '2018-01-01 14:00:00', '2018-01-01 15:00:00',
               '2018-01-01 16:00:00', '2018-01-01 17:00:00',
               '2018-01-01 18:00:00', '2018-01-01 19:00:00',
               '2018-01-01 20:00:00', '2018-01-01 21:00:00',
               '2018-01-01 22:00:00', '2018-01-01 23:00:00',
               '2018-01-02 00:00:00', '2018-01-02 01:00:00',
               '2018-01-02 02:00:00', '2018-01-02 03:00:00',
               '2018-01-02 04:00:00', '2018-01-02 05:00:00',
               '2018-01-02 06:00:00', '2018-01-02 07:00:00',
               '2018-01-02 08:00:00', '2018-01-02 09:00:00',
               '2018-01-02 10:00:00', '2018-01-02 11:00:00',
               '2018-01-02 12:00:00', '2018-01-02 13:00:00',
               '2018-01-02 14:00:00', '2018-01-02 15:00:00',
               '2018-01-02 16:00:00', '2018-01-02 17:00:00',
               '2018-01-02 18:00:00', '2018-01-02 19:00:00',
               '2018-01-02 20:00:00', '2018-01-02 21:00:00',
               '2018-01-02 22:00:00', '2018-01-02 23:00:00',
               '2018-01-03 00:00:00', '2018-01-03 01:00:00',
               '2018-01-03 02:00:00', '2018-01-03 03:00:00',
               '2018-01-03 04:00:00', '2018-01-03 05:00:00',
               '2018-01-03 06:00:00', '2018-01-03 07:00:00',
               '2018-01-03 08:00:00', '2018-01-03 09:00:00',
               '2018-01-03 10:00:00', '2018-01-03 11:00:00',
               '2018-01-03 12:00:00', '2018-01-03 13:00:00',
               '2018-01-03 14:00:00'],
              dtype='datetime64[ns]', freq='H')

In [15]:
import numpy as np
ts=pd.Series(np.random.randint(1,10,len(rng)),index=rng)
ts.head(10)

2018-01-01 00:00:00    2
2018-01-01 01:00:00    8
2018-01-01 02:00:00    5
2018-01-01 03:00:00    9
2018-01-01 04:00:00    2
2018-01-01 05:00:00    1
2018-01-01 06:00:00    3
2018-01-01 07:00:00    6
2018-01-01 08:00:00    4
2018-01-01 09:00:00    8
Freq: H, dtype: int32